.row{
    padding: 50px;
}

.btn{
    margin-left: 42%;
    margin-right: 30%;
  }

  .registertext{
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    color: darkblue;
  }