<!-- <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  
    
  
  
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #3f107b; border-radius: 10px;" >
   <div class="container-fluid">
   <a class="navbar-brand" routerLink="" style="color: #62cfe0;">JOBNETWORK</a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
   <a class="nav-link active" aria-current="page" routerLink="">Ana Sayfa</a>
   </li>
   <li class="nav-item">
  <a class="nav-link active" aria-current="page" routerLink="jobposts">Tüm İş İlanları</a>
   </li>
   <li class="nav-item">
  <a class="nav-link active" aria-current="page" href="#">Hakkımızda</a>
   </li>
  <li class="nav-item">
 <a class="nav-link active"  aria-current="page" (click)="signOut()"  style="color: red;cursor: pointer;" *ngIf="authService.isAuthenticated">Çıkış Yap</a>
  </li>
  
 </ul>
 
  
  
  
  <form class="d-flex">
    <div class="div">
      <button class="btn btn-outline-success" type="submit" routerLink="admin" *ngIf="authService.isAuthenticated">Yönetim Paneli</button>
    </div>
   
    
  
  

  </form>
  
   </div>
   <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-512.png" alt="mdo" width="32" height="32" class="rounded-circle">
  </a>
  <ul class="dropdown-menu text-small">
    <li><a class="dropdown-item" routerLink="register">İşveren Giriş</a></li>
    <li><a class="dropdown-item" routerLink="login">Aday Girişi</a></li>
    <li><a class="dropdown-item" href="#">Profil</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Sign out</a></li>
  </ul>

  </div>
  </nav> -->
  
  <header class="p-3 mb-3 border-bottom bgcolor">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <img src="../assets/jobnetwork.jpg" style="height: 40px;">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-body" style="color: #62cfe0; font-size: x-large; font-family: 'Quantico', sans-serif;;">JOBNETWORK</a></li>
          <li><a routerLink="" class="nav-link px-2 link-body ">Ana Sayfa</a></li>
          <li><a routerLink="jobposts" class="nav-link px-2 link-body">Tüm İş İlanları</a></li>
          <li><a href="#" class="nav-link px-2 link-body">Hakkımızda</a></li>
          <li class="nav-item">
            <a class="nav-link active"  aria-current="page" (click)="signOut()"  style="color: red;cursor: pointer;" *ngIf="authService.isAuthenticated">Çıkış Yap</a>
             </li>
        </ul>
        

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <button class="btn btn-outline-success" type="submit" routerLink="admin" *ngIf="authService.isAuthenticated">Yönetim Paneli</button>
        </form>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-512.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" routerLink="register">İşveren Giriş</a></li>
            <li><a class="dropdown-item" routerLink="register">İşveren Kayıt Ol</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="login">Aday Giriş</a></li>
            <li><a class="dropdown-item" routerLink="register">Aday Kayıt Ol</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Profil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Çıkış Yap</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  
 

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8"> <router-outlet></router-outlet></div>
  <div class="col-md-2"></div>
</div>

<ngx-spinner name="s1" type="ball-atom"></ngx-spinner>
<ngx-spinner name="s2" type="ball-spin-clockwise-fade-rotating"></ngx-spinner>
<ngx-spinner name="s3" type="ball-scale-multiple"></ngx-spinner>