/* Navbar stilini özelleştirme */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Bubblegum+Sans|Caveat+Brush|Chewy|Lobster+Two');




@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

.bgcolor {
  background-color: #2e107b;
}
.container {
  
  color: #fff;
  /* Navbar metin rengi */
  font-family: 'Exo 2', sans-serif;
  font-size: 17px;



}

.navbar-brand {
  font-family: 'Lobster Two', cursive;
}

.nav-link {
  color: #95c6fa;
}

/* Navbar linkleri */
.navbar-nav .nav-link {
  color: lightblue;
  /* Navbar linkleri metin rengi */
  padding: 0.5rem 1rem;
  /* Navbar linkleri iç ve dış boşluğu */
}

/* Navbar linkleri üzerine gelindiğinde stil */
.navbar-nav .nav-link:hover {
  background-color: #320253;
  /* Link üzerine gelindiğinde arka plan rengi */
  border-radius: 35px;
}



/* İşveren ve Başvuran dropdown stilleri */
.dropdown-toggle {
  background-color: transparent !important;
  /* Dropdown başlık arka plan rengi */
  color: #ec4f00 !important;
  /* Dropdown başlık metin rengi */
  border: none !important;
  /* Dropdown başlık kenarlık yok */

}

/* Dropdown menü arka planı */
.dropdown-menu {
  background-color: #4399d6;
}

/* Dropdown menü linkleri */
.dropdown-item {
  color: #fff;
}

/* Dropdown menü linkleri üzerine gelindiğinde stil */
.dropdown-item:hover {
  background-color: #95c6fa;
  color: #fff;
}

/* Çıkış Yap linki stil */
.navbar-nav .nav-link.active[style] {
  color: red;
  /* Çıkış Yap linki metin rengi */
  cursor: pointer;
  /* Çıkış Yap linki imleç tipi */
}

/* Sayfa içeriği */
.router-outlet {
  padding: 20px;
  /* Sayfa içeriği iç boşluğu */
}