<form class="example-form">
    <mat-form-field class="example-full-width " >
      <mat-label>İlan Başlığı</mat-label>
      <input matInput  #txtTitle  >
    </mat-form-field>
  </form>
  <form class="example-form">
    <mat-form-field class="example-full-width  ">
      <mat-label>Şirket Adı</mat-label>
      <input matInput  #txtCompanyName >
    </mat-form-field>
  </form>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>İlan Detayı</mat-label>
      <input matInput #txtDescription >
    </mat-form-field>
  </form>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Başlangıç Tarihi</mat-label>
      <input matInput  type="date" #txtStartDate>
    </mat-form-field>
  </form>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Son Başvuru Tarihi</mat-label>
      <input matInput type="date" #txtEndDate>
    </mat-form-field>
  </form>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Fotoğraf</mat-label>
      <input matInput  #txtImagePath >
    </mat-form-field>
  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>KategoriId</mat-label>
      <input matInput  #txtJobTypeId >
    </mat-form-field>
  
<!-- <mat-form-field>
  <mat-label>İş Kategorisi</mat-label>
  <select matNativeControl required txtJobType>
    <option value="mühendis">mühendis</option>
    <option value="teknisyen">teknisyen</option> -->
    
  <!-- </select>
</mat-form-field>
<br> -->








  <!-- <h4>Basic mat-select</h4>
<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of JobTypeId" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field> -->

  <button mat-raised-button class="btn" color="primary"
  (click)="create(txtTitle,txtCompanyName,txtDescription,txtStartDate,txtEndDate,txtImagePath,txtJobTypeId)"
  >İlanı Yayınla</button>

  <hr>

  <!-- <app-file-upload [options]="fileUploadOptions"></app-file-upload> -->
